.project {
  margin-top: 5rem;
  background-color: #eee;
}

.project__heading h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 18rem;
  color: #fff;
  font-weight: 600;
  text-indent: 5rem;
  background-color: #eee;
}

.project__container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 2rem;
  background-color: #eee;
  padding: 2% 15%;
}

.project__container--card {
  border-radius: 1rem;
  overflow: hidden;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  transition: all 0.3s ease;
  filter: grayscale(100%);
}
.project__container--card:hover {
  transform: scale(1.03);
  filter: none;
  background-color: #fff;
}

.project__container--card img {
  width: 100%;

  overflow: hidden;
  border-radius: 2rem;
}

@media (max-width: 1080px) {
  .project__heading h1 {
    font-size: 12rem;
  }
}
@media (max-width: 768px) {
  .project__heading h1 {
    font-size: 9rem;
  }
  .project__container {
    grid-template-columns: repeat(1, auto);
    gap: 2rem;

    padding: 5% 15%;
  }
}
