@import url("https://fonts.googleapis.com/css2?family=Anton&family=Rajdhani:wght@300;400&display=swap");
.container-home {
  position: relative;
  height: 89vh;
  width: 100%;
}

.home-header {
  width: 100%;
  height: 100%;
}

.container__upper {
  position: absolute;
  height: 45%;
  width: 100%;
  padding: 0 3.2rem;
  background-color: #fff;
}
.container__upper--name {
  position: absolute;
  bottom: 8.8rem;
  font-family: sans-serif;
  color: #253d8a;
  animation: animation_home 0.5s ease-in;
}
.container__upper--heading {
  position: absolute;
  bottom: 0;
  font-family: "Anton", sans-serif;
  font-size: 6.4rem;
  font-weight: 300;

  animation: animation_home 0.6s ease-in;
}
.container__lower {
  position: absolute;
  height: 55%;
  width: 100%;
  bottom: 0;
  padding: 0 3.2rem;
  background-color: #dbdbdb;
  font-family: "Anton", sans-serif;
  animation: animation_home 0.7s ease-in;
}
.container__lower--heading {
  position: absolute;
  top: 0;
  font-family: "Anton", sans-serif;
  font-size: 6.4rem;
  font-weight: 300;

  animation: animation_home 0.8s ease-in;
}
.container__lower--subheading {
  margin-top: 8.8rem;
  font-weight: 600;
  font-family: "Rajdhani", sans-serif;
  color: rgb(101, 97, 97);
  animation: animation_home 0.9s ease-in;
}
.container__lower--scroll {
  position: absolute;
  bottom: 1.6rem;
  left: 3.2rem;
  animation: animation_home 1s ease-in;
}

@keyframes animation_home {
  0% {
    opacity: 0;
    transform: translateY(3.2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1080px) {
  .container__upper--name {
  }
  .container__upper--heading {
    font-size: 4rem;
  }
  .container__lower--heading {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .container__upper--name {
  }
  .container__upper--heading {
    font-size: 3rem;
  }
  .container__lower--heading {
    font-size: 3rem;
  }
}
