.navbar {
  /* border: 1px solid; */
  overflow: auto;
  margin-top: 1.6rem;
  font-size: 1.4rem;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #34333c;
  font-weight: 700;
}

.navbar img {
  height: 5.6rem;
  width: 5.6rem;
  margin-left: 3.2rem;
  float: left;
  /* background-color: red; */
}

.navbar ul {
  margin: 0.8rem 3.2rem 0 0;
  overflow: auto;
  /* background-color: red; */
  /* border: 1px solid; */
}

.navbar li {
  float: right;
  list-style: none;
  padding: 1.6rem;
}
