.navbar {
  /* border: 1px solid; */
  overflow: auto;
  margin-top: 1rem;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #34333c;
  font-weight: 700;
}

.navbar img {
  height: 3.5rem;
  width: 3.5rem;
  margin-left: 2rem;
  float: left;
  /* background-color: red; */
}

.navbar ul {
  margin: 0.5rem 2rem 0 0;
  overflow: auto;
  /* background-color: red; */
  /* border: 1px solid; */
}

.navbar li {
  float: right;
  list-style: none;
  padding: 1rem;
}
